# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Backups files
*~

# Xilinx temporary files
_ngo
*.xmsgs
*.bld
*.cmd_log
*.lso
*.ngr
*.stx
*.syr
*.xrpt
*_summary.html
webtalk_pn.xml
xlnx_auto_0_xdb
xst
*_envsettings.html
*.ngd
*.map
*.mrp
*.ncd
*.pcf
*.ngm
*_usage.xml
*_summary.xml
*.pad
*.par
*.unroutes
*.xpi
*_pad.txt
*_pad.csv
*.ptwx
*.twr
*.twx
*.drc
*.bgn
webtalk.log
usage_statistics_webtalk.html
.Xil
*.ipf
impact.xsl
fuseRelaunch.cmd
*.xwbt
_impactbatch.log
*_xpa.log
*_xpwr.log
planAhead.ngc2edif.log
planAhead_*.log
*.xreport
isim.log
webtalk_impact.xml
webtalk_power.xml
*.srp
*.xpa

# PlanAhead
planAhead.jou
planAhead.log
*.rst
